
main {
    padding-top: 130px;
    background-color: #D4B483;
    color: #141414;
}

.section-title {
    font-family: 'Playfair Display', serif; /* o altro font */
    color: #000000;                         /* o un marrone tipo #4b2e10 */
    background-color: rgba(255, 255, 255, 0.6); /* sfondo chiaro semi-trasparente */
    display: inline-block; /* <--- questo fa adattare il riquadro al testo */
    padding: 8px 16px; /* spazio interno per rendere il riquadro elegante */
    border-radius: 12px; /* angoli arrotondati */
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.5); /* opzionale */

}



.carousel-caption p {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* leggero sfondo chiaro */
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
}


.carousel-caption h3 {
    font-family: 'Playfair Display', serif;  /* o un altro font a tua scelta */
    color: #ffffff;                          /* oppure #4b2e10 per un marrone */
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5); /* per contrasto su foto */
    font-size: 40px;
}


.menu-section {
    background-color: #D4B483;
    padding: 40px 0;
    text-align: center; /* imposta il contenitore per centrare inline-block */

}

h3 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    color: #000;
}

p {
    font-size: 17px;
    color: #333;
}

.carousel.slide {
    background-color: #D4B483;
    padding-bottom: 30px;
    border-radius: 20px;
}

.carousel-img-wrapper {
    height: 420px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #e9decf;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    border-radius: 20px;
}

.carousel-item:hover .carousel-img {
    transform: scale(1.2);
}

footer p {
    color: #fff !important;
    font-size: 16px !important;
    opacity: 1 !important;
}


/* media queries smartphone */
@media (max-width: 500px){
    p{
        margin-bottom: 0px;
        font-size: 12px;
    }
    h3{
        font-size: 24px;
        margin-bottom: 20px;
    }
    hr{
        width: 300px;
        margin: 0 auto;
    }
    .footer-icon{
        display: flex;
        display: inline-block;
    }
    .footer-icon a{
        padding: 4px;
    }
    #video-lg{
        display: none;
    }
    #video-sm{
        display: block;
    }
}

/* media queries tablet */
@media (min-width: 500px) and (max-width: 970px){
    hr{
        width: 700px;
        margin: 0 auto;
    }
    .footer-icon{
        display: flex;
        display: inline-block;
    }
    p{
        margin-bottom: 0px;
        font-size: 15px;
    }
    h3{
        font-size: 27px;
        margin-bottom: 30px;
    }
    .footer-icon a{
        padding: 4px;
    }
    #video-lg{
        display: none;
    }
    #video-sm{
        display: block;
    }
}