body, .bg-dark, .navbar-dark .navbar-nav .nav-link {
    background-color: #D4B483       !important;  
    font-family:  'Lexend Deca', sans-serif;;
    color: rgb(255, 255, 255);
}

.nav-link {
    color: white;                              /* colore del testo normale */
    border: 1px solid rgba(255, 255, 255, 0.3); /* bordo chiaro iniziale */
    border-radius: 8px;
    padding: 6px 12px;
    margin: 0 5px;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: black !important;                  /* testo nero al passaggio */
    border-color: black;                      /* bordo nero */
    background-color: white;                  /* sfondo bianco per contrasto */
  }
  
  

#spazioNav{
    width: 800px;
}

hr {
    color: #D4B483      ;
    width: 900px;
    margin: 0 auto;
    padding-top: 2px;
}

.border_radius { 
    border-radius: 40px 40px 40px 40px; 
} 

.my-btn {
    margin-top: 20px;
    background-color: #000000;
    text-align: center;
    border-radius: 20px;
    font-size: 28px;
    color: white;
    border-style: none;
    height: 60px;
}

.my-btn:hover {
    background-color: rgb(255, 0, 0);
    border-style: double;
}

#footer-text {
    background-color: #D4B483      ;  /* Rosso scuro */
    padding-top: 0px; 
    height: 60px;
}

#footer-text .col-4 {
    margin: 0px;
    padding: 0px;
}

#footer-text a {
    color: #D4B483      ;
}

#immagini_doppie {
    text-align: center;
}

#mouse-hover {
    display: none;
}

#immagini_doppie:hover #no-hover {
    display: none;
}

#immagini_doppie:hover #mouse-hover {
    display: inline-block;
}
