body, .bg-dark, .navbar-dark .navbar-nav .nav-link {
    background-color: #D4B483       !important;  /* Rosso scuro */
    font-family: Montserrat;
    color: rgb(255, 255, 255);
}

.nav-link {
    border: 1px solid rgba(255, 255, 255, 0.3); /* bordo bianco semi-trasparente */
    border-radius: 8px;                        /* angoli arrotondati */
    padding: 6px 12px;                         /* spazio interno */
    margin: 0 5px;                             /* spaziatura tra i link */
    transition: all 0.3s ease;                 /* effetto al passaggio */
  }
  
  .nav-link:hover {
    border-color: white;                      /* bordo più visibile al passaggio */
    background-color: rgba(255, 255, 255, 0.1); /* leggero sfondo al passaggio */
  }
  

#spazioNav{
    width: 800px;
}

hr {
    color: #D4B483      ;
    width: 900px;
    margin: 0 auto;
    padding-top: 2px;
}

.border_radius { 
    border-radius: 40px 40px 40px 40px; 
} 

.my-btn {
    margin-top: 20px;
    background-color: #000000;
    text-align: center;
    border-radius: 20px;
    font-size: 28px;
    color: white;
    border-style: none;
    height: 60px;
}

.my-btn:hover {
    background-color: blue;
    border-style: double;
}

#footer-text {
    background-color: #D4B483      ;  /* Rosso scuro */
    padding-top: 0px; 
    height: 60px;
}

#footer-text .col-4 {
    margin: 0px;
    padding: 0px;
}

#footer-text a {
    color: #D4B483      ;
}

#immagini_doppie {
    text-align: center;
}

#mouse-hover {
    display: none;
}

#immagini_doppie:hover #no-hover {
    display: none;
}

#immagini_doppie:hover #mouse-hover {
    display: inline-block;
}
